body {
    background-color: #FAF7F0;
}
hr {
    background-color: #FAF7F0;
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
}
img {
    height: 200px;
    width: 200px;
}
h1 {
    color: #98A8F8;
}
h3 {
    color: #98A8F8;
}